<script>
  $(document).ready(function() {
    loadArticles(<%= @geo.lat %>, <%= @geo.lon %> ) 
  });

    function loadArticles( lat, lon ) {
      ymaps.ready(init);
            var myMap,
                myPlacemark;

            function init(){
                myMap = new ymaps.Map ("map", {
                    center: [lat, lon],
                    zoom: 15
                });

                myPlacemark = new ymaps.Placemark([lat, lon], {
                    content: 'Москва!',
                    balloonContent: 'Столица России'
                });

                myMap.geoObjects.add(myPlacemark);
            }
        }
</script>

 <div id="map" style="width: 600px; height: 400px"></div>