javascript:
  $(document).ready(function() {
    geo_point = new GeoPoint();
    $('#stop').hide();
    $('#restart').hide();
    $('#pause').hide();

    $('#start').click(function(){
      delay = $('#geo_line_delay').val();
      delay = parseInt(delay);

      geo_point.init(delay, '#geo_point_form', 60000);
      geo_point.startGeoNavigation();

      $('#stop').show();
      $('#start').hide();
      $('#pause').show();

    });

    $('#pause').click(function(){
      geo_point.pauseGeoNavigation()
      $('#pause').hide();
      $('#restart').show();
    })

    $('#restart').click(function(){
      geo_point.startGeoNavigation();
      $('#pause').show();
      $('#restart').hide();
    });
  });



br
= simple_form_for @geo_line, remote: true do |f|
  = f.input :delay, label: 'Время между GPS запросами(мс)'
  = f.button :submit, 'START', id: 'start', class: 'btn btn-primary '


= simple_form_for @geo_point, html: {id: 'geo_point_form'}, remote: true do |f|
  = f.hidden_field :geo_line_id
  #coordinates

= simple_form_for @geo_line do |f|
  = f.button :submit, 'STOP', id: 'stop', class: 'btn btn-primary '

button#pause.btn PAUSE
button#restart.btn RESTART

div class="progress progress-striped" style="width: 300px;"
  div class="bar"

div#points_count
div#points_count_local