script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"
javascript:
  $(document).ready(function(){
    var points_array = #{h @points_array};
    var delay = #{h @delay};
    var url = "#{h @url}";
    var end_of_line = #{h @end_of_line};
    var step_of_post = #{h @step_of_post}
    console.log("#{h @part_geo_points.pluck(:id)}")

    var geo_line = new GeoLine();

    geo_line.init({
      center: [55.786764,49.122853],
      zoom: 14,
      finishPoint: 'Татарстан Казань Пушкина 30',
      points_array: points_array,
      delay: delay,
      url_points: url,
      end_of_line: end_of_line,
      step_of_post: step_of_post,
      finishCallback: function(){
        alert("stop!")
      }
    });



    $('#b1').click(function(){
      geo_line.geoLocationShow();
    });

    $('#b2').click(function(){
      geo_line.geoLocationPause();
    });

    $('#b3').click(function(){
      geo_line.geoLocationRestart();
    });
  });

button#b1 START SHOW
button#b2 PAUSE SHOW
button#b3 RESTART SHOW

div id="map" style="width: 600px; height: 400px"