<!DOCTYPE html>
<html>
<head>
  <title>SvGeo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
